.TitleBody {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
}

.Title {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ForecastsBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.ForecastEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hour {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.WeatherImg {
    width: 48px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.ForecastTemp {
    font-weight: 500;
}